# Extract data from SQLITE file

ETL is the most frequent process for data engineers, DE needs to integrate data from various heterogeneous sources for data analysts and data scientist.

This practice is under a context where DE needs to get data from a SQLITE file and then import it into SQL Server.

In [3]:
import sqlite3
import pypyodbc # connect SQL Server
import pandas as pd

### Step 1 Import database with sqlite 3

In [4]:
# Connect to the SQLite database file
conn = sqlite3.connect('D:/Learn_DS/Git/python-learning/ETL/data/database.sqlite')

In [17]:
# Create a cursor object
cursor = conn.cursor()

# Retrieve the table names from the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
table_names = cursor.fetchall()
table_names

[('reviews',),
 ('artists',),
 ('genres',),
 ('labels',),
 ('years',),
 ('content',)]

In [19]:
# Iterate over each table
for table_name in table_names:
    table_name = table_name[0]  # Extract the table name from the result tuple
    
    # Execute the PRAGMA statement to get column information
    cursor.execute(f"PRAGMA table_info({table_name})")
    columns = cursor.fetchall()

    # Extract the column names
    column_names = [column[1] for column in columns]

    # Print the column names
    print(f"Table: {table_name}")
    print("Columns:")
    for column_name in column_names:
        print(column_name)

    print()

Table: reviews
Columns:
reviewid
title
artist
url
score
best_new_music
author
author_type
pub_date
pub_weekday
pub_day
pub_month
pub_year

Table: artists
Columns:
reviewid
artist

Table: genres
Columns:
reviewid
genre

Table: labels
Columns:
reviewid
label

Table: years
Columns:
reviewid
year

Table: content
Columns:
reviewid
content

### Step 2 Connect SQL Server then import data

In [ ]:
# Establish a connection
conn_sqlserver = pypyodbc.connect (
    DRIVER = '{SQL Server};'
    SERVER_NAME = 'DESKTOP-FIS40MH\MSSQLSERVER01;'
    DATABASE_NAME = 'Project;'
     )
cursor_sqlserver = conn_sqlserver.cursor()

In [ ]:
# Create 'reviews' table in SQL Server
cursor_sqlserver.execute('CREATE TABLE reviews (column1 datatype, column2 datatype, ...)')
# Insert data into 'reviews' table
for row in reviews_data:
    cursor_sqlserver.execute('INSERT INTO reviews (column1, column2, ...) VALUES (?, ?, ...)', row)

In [ ]:

# Commit and close SQLite connection
conn.commit()
conn.close()

# Commit and close SQL Server connection
conn_sqlserver.commit()
conn_sqlserver.close()